<a href="https://colab.research.google.com/github/sho-playground/machine-learning/blob/master/playground_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

Pandas Tutorial:
https://pandas.pydata.org/docs/user_guide/10min.html

In [4]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.218325  0.507407 -0.477887  1.853950
2013-01-02 -2.289942 -1.138487  0.918817 -0.517235
2013-01-03 -0.138580  0.051488  0.707233 -0.679977
2013-01-04 -2.045868 -0.272831  1.433339  1.494987
2013-01-05 -1.701734  1.372180 -0.556308  0.587877
2013-01-06 -0.188480 -0.025635  0.493504  0.889566

In [13]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

['test', 'train', 'test', 'train']
Categories (2, object): ['test', 'train']

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df.head()

                   A         B         C         D
2013-01-01  0.218325  0.507407 -0.477887  1.853950
2013-01-02 -2.289942 -1.138487  0.918817 -0.517235
2013-01-03 -0.138580  0.051488  0.707233 -0.679977

In [19]:
df.tail(3)

                   A         B         C         D
2013-01-04 -2.045868 -0.272831  1.433339  1.494987
2013-01-05 -1.701734  1.372180 -0.556308  0.587877
2013-01-06 -0.188480 -0.025635  0.493504  0.889566

In [20]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.to_numpy()

array([[ 0.21832459,  0.5074073 , -0.47788672,  1.85394967],
       [-2.28994239, -1.13848704,  0.91881717, -0.51723468],
       [-0.13857978,  0.05148832,  0.70723292, -0.67997693],
       [-2.04586822, -0.27283133,  1.4333395 ,  1.4949866 ],
       [-1.70173429,  1.37218   , -0.55630751,  0.58787679],
       [-0.18847956, -0.02563484,  0.49350407,  0.88956638]])

In [25]:
np_arr = df2.to_numpy()
np_arr

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [26]:
np_arr.dtype

dtype('O')

In [27]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -1.024380  0.082354  0.419783  0.604861
std    1.107392  0.833492  0.790311  1.033808
min   -2.289942 -1.138487 -0.556308 -0.679977
25%   -1.959835 -0.211032 -0.235039 -0.240957
50%   -0.945107  0.012927  0.600368  0.738722
75%   -0.151055  0.393428  0.865921  1.343632
max    0.218325  1.372180  1.433339  1.853950

In [29]:
df.head()

                   A         B         C         D
2013-01-01  0.218325  0.507407 -0.477887  1.853950
2013-01-02 -2.289942 -1.138487  0.918817 -0.517235
2013-01-03 -0.138580  0.051488  0.707233 -0.679977
2013-01-04 -2.045868 -0.272831  1.433339  1.494987
2013-01-05 -1.701734  1.372180 -0.556308  0.587877

In [28]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.218325   -2.289942   -0.138580   -2.045868   -1.701734   -0.188480
B    0.507407   -1.138487    0.051488   -0.272831    1.372180   -0.025635
C   -0.477887    0.918817    0.707233    1.433339   -0.556308    0.493504
D    1.853950   -0.517235   -0.679977    1.494987    0.587877    0.889566